<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'dashboard')}">
<body>
  <div class="container">
  
	<!-- this is to be used later for file upload  
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <label class="file-upload btn btn-primary">
                    Browse for file ... <input type="file" />
                </label>
            </div>
        </div>
    </form>
	-->

	<!-- Button that does everything on page -->
	 
    <button type="button" class="btn btn-primary btn-lg"><p th:text="${loadButton}"/></button>
    
    <br/>
    <p th:text="${globalmessage}"/>
    <div/>
    <div class="calendar"></div>
    
    <div class="drawings-list"></div>
        <div class="drawing-1"></div>
        <div class="drawing-2"></div>
    <div></div>
    
  </div>
</body>
</html>
