<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'dashboard')}">
<body>
  <div class="container">
  
    <button type="button" class="btn btn-light"><p th:text="${button1}"/></button>
    <button type="button" class="btn btn-light"><p th:text="${button2}"/></button>
    <button type="button" class="btn btn-light">button3</button>
    <button type="button" class="btn btn-light">button4</button>
    <div/>
    <div class="calendar"></div>
    
    <div class="drawings-list"></div>
        <div class="drawing-1"></div>
        <div class="drawing-2"></div>
    <div></div>
    
  </div>
</body>
</html>