<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'dashboard')}">
<body>
  <div class="container">
  
    <div class="button"><p th:text="${button1}"/></div>
    <div class="button"><p th:text="${button2}"/></div>
    <div class="button">button3</div>
    <div class="button">button4</div>
    <div/>
    <div class="calendar"></div>
    
    <div class="drawings-list"></div>
        <div class="drawing-1"></div>
        <div class="drawing-2"></div>
    <div></div>
    
  </div>
</body>
</html>