<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

	<div class="jumbotron text-center">
		<div class="container">
			<a href="/" class="lang-logo"> <img src="/lang-logo.png">
			</a>
			<h1>Conspec Dashboard</h1>
			<p>This is a sample Java application deployed to Heroku.</p>
			<a type="button" class="btn btn-lg btn-light rounded mb-0"
				href="#"><spanclass="glyphicon glyphicon-flash"></span> Getting Started with Java</a>
			<a type="button" class="btn btn-lg btn-primary rounded my-2 my-sm-0"
				href="#"><span
				class="glyphicon glyphicon-download"></span> Source on GitHub</a>
		</div>

<!-- 		<div class="container unauthenticated"> -->
<!-- 			With Facebook: <a href="/login">click here</a> -->
<!-- 		</div> -->
<!-- 		<div class="container authenticated" style="display: none"> -->
<!-- 			Logged in as: <span id="user"></span> -->
<!-- 		</div> -->


	</div>
</body>
</html>
